.box-header, .box-body {
    -moz-box-sizing: border-box;
}

.box {
	margin-bottom: 20px;
}

.box-header {
    background-color: #EAEAEA;
    background-image: linear-gradient(#FAFAFA, #EAEAEA);
    background-repeat: repeat-x;
    border: 1px solid #D5D5D5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 1;
    min-height: 40px;
}
.box-header:before, .box-header:after {
    content: " ";
    display: table;
}
.box-header:after {
    clear: both;
}
.box-title {
    color: #555555;
    float: left;
    font-size: 14px;
    line-height: 1.429;
    margin: 9px 10px;
}
.box-title a {
    color: #555555;
}
.box-title .css-truncate-target {
    max-width: 400px;
}
.box-title-count {
    color: #99A4AA;
}
.box-header-icon {
    color: #777777;
    float: left;
    margin: 10px 7px 0 10px;
}
.box-header > .mini-icon-deleted {
    color: #BD2C00;
}
.box-header > .mini-icon-added {
    color: #6CC644;
}
.box-actions {
    float: right;
    margin-left: 10px;
}
.box-action {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-color: #D5D5D5;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.5) inset;
    color: #555555;
    float: left;
    line-height: 20px;
    padding: 9px 10px;
    position: relative;
}
.box-action + .box-action {
    margin-left: -1px;
}
.box-action:last-child {
    border-right: 0 none;
    border-top-right-radius: 3px;
}
.box-action:hover, .box-action:active {
    background-color: #E4E4E4;
    background-image: linear-gradient(#F4F4F4, #E4E4E4);
    background-repeat: repeat-x;
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
}
.box-action:active {
    background-color: #E4E4E4;
    background-image: none;
    border-color: #D5D5D5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset;
}
.box-action .mini-icon {
    vertical-align: -1px;
}
.box-actions .show-inline-notes {
    font-weight: normal;
}
.box-body {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: #D5D5D5;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px;
}
.box-body:before, .box-body:after {
    content: " ";
    display: table;
}
.box-body:after {
    clear: both;
}
.box-body-padded {
    padding-left: 10px;
    padding-right: 10px;
}
.box-body .list-group-item:last-child {
    border-bottom: 0 none;
}
.box-small .box-header {
    min-height: 36px;
}
.box-small .box-title {
    margin-bottom: 6px;
    margin-top: 6px;
}
.box-small .box-body-padded {
    padding: 10px;
}

